<div class="row justify-content-md-center mb-2">
  <div class="text-center">
    <h1>Login</h1>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-8">
    <%= form_with(scope: :session, url: login_path, class: "shadow p-3 mb-2 bg-dark rounded", local: true) do |f| %>
      <div class="form-group row">
        <%= f.label :email, class: "col-2 col-form-label text-white" %>
        <div class="col-10">
          <%= f.email_field :email, class: "form-control shadow", placeholder: "Enter your emailadres" %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :password, class: "col-2 col-form-label text-white" %>
        <div class="col-10">
          <%= f.password_field :password, class: "form-control shadow", placeholder: "Enter your password" %>
        </div>
      </div>
      <div class="form-group row justify-content-md-center">
        <%= f.submit "Login!", class: "btn btn-outline-light btn-white col-4" %>
      </div>
    <% end %>
  </div>
</div>