<% obj.each do |article| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mb-4">
      <div class="card shadow text-center">
        <div class="card-header">
            by <%= link_to article.user.username, user_path(article.user) %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= link_to article.title, article_path(article), class: "text-success" %></h5>
          <p class="card-text"><%= truncate(article.description, length: 100) %></p>
          <%= link_to 'View', article_path(article), class: "btn btn-outline-success" %>
          <% if logged_in? && (article.user == current_user || current_user.admin?) %>
            <%= link_to 'Edit', edit_article_path(article), class: "btn btn-outline-info" %>
            <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small><%= LastUpdated(article) %></small>
          <% if article.categories.any? %>
            <div class="m-2">
              Categories:
              <% article.categories.each do |category| %>
                <%= link_to category.name, category_path(category), class: "btn btn-outline-dark btn-sm m-1" %>
              <% end %>
            </div>
          <% end %>
          </div>
      </div>
    </div>
  </div>
<% end %>