<%= form_with(model: @article, class: "shadow p-3 mb-2 bg-dark rounded", local: true) do |f| %>
  <div class="form-group row">
    <%= f.label :title, class: "col-2 col-form-label text-white" %>
    <div class="col-10">
      <%= f.text_field :title, class: "form-control shadow", placeholder: "Title of blogpost" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :description, class: "col-2 col-form-label text-white" %>
    <div class="col-10">
      <%= f.text_area :description, rows: 10, class: "form-control shadow", placeholder: "description of blogpost" %>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-2 col-form-label text-white">
        <p>Category:</P>
      </div>
      <div class="col-10 mb-2">
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
          <% cb.label(class: "checkbox-inline input_checkbox text-white") {cb.check_box(class: "checkbox mr-1 ml-3") + cb.text} %>
        <% end %>
      </div>
    </div> 
    <div class="form-group row justify-content-md-center">
      <%= f.submit class: "btn btn-outline-light btn-white col-4" %>
    </div>
  </div>
<% end %>