<div class="row justify-content-md-center mb-2">
  <div class="text-center">
    <h1>Listing all articles</h1>
  </div>
</div>
<% if logged_in? %>
  <div class="row justify-content-md-center">
    <div class="text-center">
      <%= link_to 'Add article', new_article_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-center apple_pagination">
  <%= will_paginate @articles %>
</div>
<%= render 'article', obj: @articles %>
<div class="d-flex justify-content-center apple_pagination">
  <%= will_paginate @articles %>
</div>