<div class="row justify-content-md-center mb-2">
  <div class="text-center">
    <h1> <%= @article.title %></h1>
  </div>
</div>
<% if logged_in? && (@article.user == current_user || current_user.admin?) %>
  <div class="row justify-content-md-center mb-2">
    <div class="text-center">
      <%= link_to 'Edit article', edit_article_path, class: "btn btn-info" %>
      <%= link_to 'Delete article', article_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
    </div>
  </div>
<% end %>
<div class="row justify-content-md-center">
  <div class="col-8">
    <div class="card shadow my-2">
      <div class="card-header text-center">
          by <%= link_to @article.user.username, user_path(@article.user) %>
      </div>
      <div class="card-body">
        <div class="card-text"><%= simple_format(@article.description) %></div>
      </div>
      <div class="card-footer text-muted text-center">
        <small><%= LastUpdated(@article) %></small>
        <% if @article.categories.any? %>
          <div class="m-2">
            Categories:
            <% @article.categories.each do |category| %>
              <%= link_to category.name, category_path(category), class: "btn btn-outline-dark btn-sm m-1" %>
            <% end %>
          </div>
        <% end %>
        <%= link_to gravatar_for(@article.user, size:60) , user_path(@article.user) %>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center mt-4">
  <%= link_to 'Return to artilce listing', articles_path, class: "btn btn-info col-4" %>
</div>