<%= form_with(model: @user, class: "shadow p-3 mb-2 bg-dark rounded", local: true) do |f| %>
  <div class="form-group row">
    <%= f.label :username, class: "col-2 col-form-label text-white" %>
    <div class="col-10">
      <%= f.text_field :username, class: "form-control shadow", placeholder: "Choose your username" %>
    </div>
  </div>

    <div class="form-group row">
    <%= f.label :email, class: "col-2 col-form-label text-white" %>
    <div class="col-10">
      <%= f.email_field :email, class: "form-control shadow", placeholder: "Enter your emailadres" %>
    </div>
  </div>

    <div class="form-group row">
    <%= f.label :password, class: "col-2 col-form-label text-white" %>
    <div class="col-10">
      <%= f.password_field :password, class: "form-control shadow", placeholder: "Choose a secure and unique password" %>
    </div>
  </div>
  <div class="form-group row justify-content-md-center">
    <%= f.submit(@user.new_record? ? "Sign up!" : "Update account!", class: "btn btn-outline-light btn-white col-4") %>
  </div>
<% end %>