<div class="row justify-content-md-center mb-2">
  <div class="text-center">
    <h1>Edit user: <%= @user.username %></h1>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-8">
    <%= render 'shared/errors', obj: @user %>
    <%= render 'form' %>
  </div>
</div>
<div class="row justify-content-md-center mt-4">
  <%= link_to 'Return to Users', users_path, class: "btn btn-info col-4" %>
</div>