<div class="row justify-content-md-center mb-4">
  <div class="col-10">
    <h1 class="text-center">Alpha Bloggers</h1>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Username</th>
      <th scope="col">Articles</th>
      <th scope="col">Joined</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th scope="row"><%= gravatar_card user, size:50 %></th>
        <td><%= user.username %></td>
        <td><%= pluralize(user.articles.count, "article") %></td>
        <td><small><%= time_ago_in_words(user.created_at)%> ago</small></td>
        <td>
          <%= link_to 'View', user_path(user), class: "btn btn-outline-success" %>
          <% if logged_in? && (user == current_user || current_user.admin?) %>
            <%= link_to 'Edit', edit_user_path(user), class: "btn btn-outline-info" %>
            <%= link_to "Delete", user_path(user), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?"} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center apple_pagination">
  <%= will_paginate @users %>
</div>