<div class="row justify-content-md-center mb-2">
  <div class="text-center">
    <%= gravatar_for @user, size:150 %>
    <h1 class="m-2"><%= @user.username %>'s profile</h1>
  </div>
</div>
<% if logged_in? && (@user == current_user || current_user.admin?) %>
  <div class="row justify-content-md-center">
    <div class="text-center">
      <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info mt-2" %>
      <%= link_to "Delete profile", user_path(@user), class: "btn btn-outline-danger mt-2", method: :delete, data: { confirm: "Are you sure? Account and all associated articles will be deleted"} %>
    </div>
  </div>
<% end %>
<div class="row justify-content-md-center">
  <div class="col-8">
    <%= render 'shared/errors', obj: @user %>
    <h3 class="text-center">Articles</h3>
  </div>
</div>
<div class="d-flex justify-content-center apple_pagination">
  <%= will_paginate @user_articles %>
</div>
<% if @user_articles.count != 0 %>
  <%= render 'articles/article', obj: @user_articles %>
<% else %>
  <div class="row justify-content-md-center">
    <div class="col-8 mb-4">
      <div class="card shadow text-center">
        <div class="card-header">
           <%= @user.username %> has no articles
        </div>
        <div class="card-body">
          <h5 class="card-title">No articles written</h5>
          <p class="card-text"><%= @user.username %> has not written an article yet. Don't be afraid. You can write an article to show it is easy to do!</p>
          <%= link_to 'Write Article', new_article_path, class: "btn btn-primary" %>
        </div>
        <div class="card-footer text-muted">
          <small>Anytime is a good time to start writing</small>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-center apple_pagination">
  <%= will_paginate @user_articles %>
</div>