<% if obj.errors.any? %>
  <div class="alert alert-danger alert-dismisable fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="alert-heading"><strong>ERROR:</strong> The following erros prevented the <%= obj.class.name.downcase %> to be <%= obj.new_record? ? "saved:" : "updated:" %></p>
    <ul class="errors">
      <% obj.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>