<div class="row justify-content-md-center mb-2">
  <div class="text-center">
    <h1 class="text-center">About me!</h1>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-8">
    <div class="card shadow text-center mb-2">
      <div class="card-header">
        By Mike Cinjee
      </div>
      <div class="card-body">
        <div class="card-text text-left">
          <p>Blog, build for The Complete Ruby on Rails Developer Course on <strong>Udemy</strong>!</p>
        </div>
      </div>
    </div>
  </div>
</div>