<div class="jumbotron text-center text-white font-weight-bold m-auto">
  <h1 class="display-4 text-white"><span class="bg-dark py-1 px-3 rounded">Alpha Blog</span></h1>
  <p class="lead font-weight-bold mt-5"><span class="bg-dark py-1 px-3 rounded">This is a blog created in Rails for the <strong>Udemy</strong> course The Ultimate Rails Course!</span></p>
  <hr class="my-4">
  <p><span class="bg-dark py-1 px-3 rounded">Please look around and write and article if you like!</span></p>
  <%= link_to  "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
</div>