@import 'bootstrap/dist/css/bootstrap';
@import "font-awesome";

@media screen and (min-width: 960px) {
  html {
    width:100vw;
    overflow-x:hidden;
  }
}

.navbar {
  background-color: black !important;
  }
.navbar-brand {
  font-size: 1rem;
  }
.nav-link {
  color: white !important;
  }
h1 {
  color: black;
  }

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
#home-container {
  margin-top: 25px;
}

.jumbotron {
  background-image: asset-url('markus-spiske-qjnAnF0jIGk-unsplash.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
/* pagination styling */

.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }