<%= form_with(model: @category, class: "shadow p-3 mb-2 bg-dark rounded", local: true) do |f| %>
  <div class="form-group row">
    <%= f.label :name, class: "col-2 col-form-label text-white" %>
    <div class="col-10">
      <%= f.text_field :name, class: "form-control shadow", placeholder: "Enter name of category" %>
    </div>
  </div>
  <div class="form-group row justify-content-md-center">
    <%= f.submit(@category.new_record? ? "Add category" : "Update category", class: "btn btn-outline-light btn-white col-4") %>
  </div>
<% end %>