<div class="row justify-content-md-center mb-4">
  <div class="text-center">
    <h1>Edit <%= @category.name %></h1>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-8">
    <%= render 'shared/errors', obj: @category %>
    <%= render 'form' %>
  </div>
</div>
<div class="row justify-content-md-center mt-4">
  <%= link_to 'Return to category listing', categories_path, class: "btn btn-info col-4" %>
</div>