<div class="row justify-content-md-center mb-2">
  <div class="text-center">
    <h1>Categories:</h1>
  </div>
</div>
<% if logged_in? && current_user.admin? %>
  <div class="row justify-content-md-center">
    <div class="text-center">
      <%= link_to 'Add category', new_category_path, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<table class="table my-4">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Articles</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= pluralize(category.articles.count, "category") %></td>
        <td>
          <%= link_to 'View', category_path(category), class: "btn btn-outline-success" %>
          <%= link_to 'Edit', edit_category_path(category), class: "btn btn-outline-info" %>
          <%= link_to "Delete", category_path(category), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?"} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>