<div class="row justify-content-md-center mb-2">
  <div class="text-center">
    <h1>Category: <%= @category.name %></h1>
  </div>
</div>
<% if logged_in? and current_user.admin? %>
  <div class="row justify-content-md-center">
    <div class="text-center">
      <%= link_to 'Edit category', edit_category_path, class: "btn btn-info" %>
      <%= link_to 'Delete category', category_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-outline-danger" %>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-center apple_pagination">
  <%= will_paginate @category_articles %>
</div>
<% if @category_articles.count != 0 %>
  <%= render 'articles/article', obj: @category_articles %>
<% else %>
  <div class="row justify-content-md-center">
    <div class="col-8 mb-4">
      <div class="card shadow text-center">
        <div class="card-header">
           This can be your article
        </div>
        <div class="card-body">
          <h5 class="card-title">Empty category</h5>
          <p class="card-text">There are no articles in the category <%= @category.name %>. You can be the first to write an article for this category!</p>
          <%= link_to 'Write Article', new_article_path, class: "btn btn-primary" %>
        </div>
        <div class="card-footer text-muted">
          <small>Anytime is a good time to start writing</small>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="d-flex justify-content-center apple_pagination">
  <%= will_paginate @category_articles %>
</div>
<div class="row justify-content-md-center mt-4">
  <%= link_to 'Return to category listing', categories_path, class: "btn btn-info col-4" %>
</div>