<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <%= link_to "ALPHA BLOG", root_path, class: "nav-bar-brand mr-3", id: "logo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Articles", articles_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "bloggers", users_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown mr-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
          <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown"> 
            <% Category.all.each do |category| %>
              <%= link_to "#{category.name}", category_path(category), class: "dropdown-item" %>
            <% end %>
            <% if logged_in? and current_user.admin? %>
              <div class="dropdown-divider"></div>
              <%= link_to "Manage Categories", categories_path, class: "dropdown-item" %>
              <%= link_to "Create New Category", new_category_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "Write Article", new_article_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <div class="form-inline my-4 my-lg-0">
        <ul class="navbar-nav">
          <% if logged_in? %>
            <li class="nav-item dropdown mr-2">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.username %>
              </a>
              <div class="dropdown-menu text-dark" aria-labelledby="navbarDropdown"> 
                <%= link_to "Show profile", user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Edit profile", edit_user_path(current_user), class: "dropdown-item" %>
                <%= link_to "Delete profile", user_path(current_user), class: "dropdown-item", method: :delete, data: { confirm: "Are you sure?"} %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", logout_path, class: "nav-link btn btn-outline-light", method: :delete %>
            </li>
          <% else %>
            <li class="nav-item mr-2">
              <%= link_to "Log in", login_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up!", signup_path, class: "nav-link btn btn-outline-light" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>